<ion-header>
    <ion-toolbar>
        <ion-title>expenses</ion-title>
    </ion-toolbar>
</ion-header>
<ion-img src="/assets/images/homeImage.jpg"></ion-img>

<ion-content>
    <div class="form-container">

        <form [formGroup]="expenseForm">
            <div class="item-padding">

                <ion-item>
                    <ion-label>Name:</ion-label>

                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <required-validation-message [fontSize]="'14px'" [atributeName]="'name'" [textIndent]="'20px'" [control]="expenseForm.controls['name']"></required-validation-message>
            </div>
            <div class="item-padding">

                <ion-item>
                    <ion-label>Category:</ion-label>
                    <ion-select formControlName="category" okText="Okay" cancelText="Dismiss">
                        <ion-select-option *ngFor="let item of listOfCategories" (click)="setIonSelectedValue(item)">{{item.name}}
                        </ion-select-option>

                    </ion-select>
                </ion-item>
            </div>

            <div class="item-padding">

                <ion-item>
                    <ion-label>Date:</ion-label>
                    <ion-datetime formControlName="date" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
                </ion-item>
            </div>
            <div class="item-padding">

                <ion-item>
                    <ion-label>Amount:</ion-label>

                    <ion-input formControlName="amount" type="number"></ion-input>
                </ion-item>
                <required-validation-message [fontSize]="'14px'" [atributeName]="'password'" [textIndent]="'20px'" [control]="expenseForm.controls['amount']"></required-validation-message>
            </div>

        </form>
    </div>

    <div class="margina">
        <ion-button class="loginButton" expand="block" [disabled]="!isFormValid()" (click)="storeToDatabase()">SUBMIT
        </ion-button>

    </div>

</ion-content>