<ion-header>
    <ion-toolbar>
        <ion-title>Main</ion-title>
    </ion-toolbar>
</ion-header>
<ion-img src="/assets/images/homeImage.jpg"></ion-img>

<ion-content>
    <ion-grid class="grid">
        <ion-row>
            <ion-col size="6" *ngFor="let item of mainPageItems">
                <ion-card class="card ion-align-items-center" (click)="openPage(item.routerLink)">
                    <div class="card-contect-wrapper">
                        <ion-card-header class="header">
                            <ion-icon [name]="item.icon"></ion-icon>
                        </ion-card-header>
                        <ion-card-content class="content">
                            {{item.title}}
                        </ion-card-content>
                    </div>

                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>