<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-img src="/assets/images/homeImage.jpg"></ion-img>

<ion-content>
    <div class="form-container">
        <form [formGroup]="logInForm">
            <ion-item>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <email-validation-message [fontSize]="'14px'" [textIndent]="'20px'" [control]="logInForm.controls['email']">
            </email-validation-message>
            <ion-item>

                <ion-input formControlName="password" type="password"></ion-input>

            </ion-item>
            <required-validation-message [fontSize]="'14px'" [atributeName]="'password'" [textIndent]="'20px'" [control]="logInForm.controls['password']"></required-validation-message>
        </form>

        <p *ngIf="incorectLogin" class="login-message">Your email or password was incorrect. Please try again.</p>
        <ion-button class="loginButton" expand="block" (click)="logIn()" [disabled]="!isFormValid()">LOGIN</ion-button>
        <ion-button class="loginButton" expand="block" (click)="openPage('/')">HOME</ion-button>
        <div class="message-link">
            <span (click)=" resetPass()">I forgot my password</span>

        </div>
        <div class="instruction" *ngIf="instructionVisible">

            <span>Please enter valid email</span>

        </div>

        <div class="instruction" *ngIf="showVerifyMessage">

            <span>Please verify your email.</span>

        </div>

    </div>

</ion-content>